[env]
MISE_OCI_REGISTRY="docker.io"
MISE_OCI_REPOSITORY="<jbadeau>/tools"
MISE_OCI_USERNAME=""
MISE_OCI_PASSWORD=""

[tools]
go = "latest"
lua = "latest"
oras = "latest"
python = "latest"
yq = "latest"

[tasks.init]
description = "Init"
run = "mise plugin link oci $PWD --force"

[settings]
experimental=true
